.FooterContainer {
    height: 80px;
    background-image: url("../../files/images/logoLW.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 50px;
}