.bioContainer {
    display: inline-block; 
    font-size: 17px;
    padding: 20px; 
    text-align: center;
    line-height: 30px;
}
.bolded {
    font-weight: bold;
    font-size: 25px;
}

.bioBox {
    display: flex;
    flex-direction: column;
    text-align: left; 
    padding: 20px 0;
}