.OpenSeaBoxContainer {
    display: flex;
    background: #195aab;
    font-size: 17px;
    padding: 20px;
    line-height: 6vw;
    text-align: center;
    font-size: 22px;   
    .openseaBtn { 
        color: #fff;
        margin: auto;
        background: #e1bd15;
        cursor: pointer;
        transition: 0.3s;  
    }
    .openseaBtn .mainButton {
        max-width: 300px;
    }
}